

.container {
    
    border: 2px solid black;
}


.col {
    
    border: 2px solid black;
    cursor: pointer;
    height: 2em !important;
  
}

header {
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid greenyellow;
}